html {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: crimson;
}

.images {
    display: block;
    margin: auto;
}

.recipes {
    font-size: 24px;
}

.pancake {
    color: red;
    background-color: lightcoral;
}

.maduro {
    color: green;
    background-color: lightgreen;
}

.bibimbap {
    color: navy;
    background-color: lightblue;
}

.pancake,
.maduro,
.bibimbap {
    padding: 10px;
    margin: 10px;
}

.descriptions,
.ingredients,
.steps {
    color: rgb(61, 121, 171);
}

.bibi-category {
    color: rgb(202, 146, 77);
    font-size: 14px;
}

.test {
    background-color:blanchedalmond;
    padding: 50px;
    font-size: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.one,
.two,
.three {
    padding: 20px;
    border: solid black;
    flex: auto;
    margin: 5px;
}